* {
    box-sizing: border-box;
    font-family:'Indie Flower', cursive;
}

body {
    margin: 0;
}

h1, h2, h3,p {
    margin: 0;
}

/* PARTE SUPERIOR DO SITE */

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    background: #F8F9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logoleft img {
    width: 100px;
}

.logoleft {
    display: flex;
}

.logoleft a {
    display: flex;
    align-items: center;
}

.menuright {
    display: flex;
    align-items: center;
}

.menuright img {
    width: 28px;
}

.menuright a {
    padding: 14px;
    text-decoration: none;
    color: #000;
}


nav ul {
    display: flex;
}

nav ul, nav li {
    list-style: none;
}

/* SLIDE DO SITE */

.slider {
    flex: 1;
    overflow: hidden;
}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease-in-out 0.3s;
}

.slider--item {
    display: flex;
    width: 100vw;
    height: inherit;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.slider--item h2 {
    color: #FFF;
    font-size: 35px;
}

/*BOTÃO DO SITE DE PROXIMO E ANTES*/

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.slider--control img {
    width: 50px;
    height: 50px;
}

/* INFORMAÇÕES SOBRE RESTAURANTE*/

.title {
    text-align: center;
    font-size: 30px;
}

.title h3 {
    margin: 30px 0;
}

.box {
    max-width:720px;
    margin: 0 auto;
}

.boxone {
    display: flex;
    margin-bottom: 20px;
}

.imagemenu {
    width: 50%;
}

.imagemenu img {
    max-width: 100%;
}

.textmenu {
    width: 50%;
    padding: 0 20px ;
}

.noanimation {
    transition: 0.9s ease-out;
    opacity: 0;
    transform: translateY(100px);
}

.animation {
    transition: 0.9s ease-out;
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 576px) {
    .box {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .box {
        max-width: 960px;
    }
}

/* CARDÁPIOS DO RESTAURANTE*/

.titleprincipal {
    text-align: center;
    font-size: 30px;
}

.titleprincipal h3 {
    margin: 30px 0;
    padding: 40px 0;
}

.menufood{
    display: flex;
}

.imgmenu img {
    width: 33.3%;
}
