* {
    box-sizing: border-box;
    font-family:'Indie Flower', cursive;
}

body {
    margin: 0;
}

/* PARTE SUPERIOR DO SITE */

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    background: #F8F9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    position: fixed;
    width: 100%;
}

.logoleft img {
    width: 100px;
}

.logoleft {
    display: flex;
}

.logoleft a {
    display: flex;
    align-items: center;
}

.menuright {
    display: flex;
    align-items: center;
}

.menuright img {
    width: 28px;
}

.menuright a {
    padding: 14px;
    text-decoration: none;
    color: #000;
}


nav ul {
    display: flex;
}

nav ul, nav li {
    list-style: none;
}

/* SLIDE DO SITE */

.slider {
    flex: 1;
    overflow: hidden;
}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

/*BOTÃO DO SITE DE PROXIMO E ANTES*/

